:root{
    --blue:rgb(64,82,106);
    --lightgray:rgb(242,242,245);
    --gold:rgb(255,192,0);
    --gray:rgb(75,75,75);
    --red:rgb(255,128,0);
}

@font-face {
    font-family: "Helvetica";
    src: url('Helvetica.woff');
}

*{
    box-sizing: border-box;
}

html{
    background:var(--lightgray);
    font-family: Helvetica, sans-serif;
}

.main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sub-container{
    display:flex;
    flex-direction: column;
    width:min(100%,800px);
}

.slides{
    display: flex;
    flex-direction: column;
    gap:20px;
    padding-top:20%;
    padding-bottom:10%;
}

.slide, .dark-slide{
    background: white;
    color:var(--gray);
    border-radius:25px;
    min-height:450px;
    display:flex;
    flex-direction: column;
    justify-content: top;
    padding:5%;
    text-align: justify;
    line-height: 1.5;
    position:relative;
}

.slide h2{
    width:75%;
    color:var(--blue);
}

.slide h4{
    color:var(--blue);
}

.author{
    position:relative;
    top:30%;
    text-align: right;
    color:var(--blue);
    opacity:0.5;
}

.dark-slide .author{
    color:white;
    opacity: 1;
}

.dark-slide{
    background: var(--blue);
    color:white;
}

.dark-slide h2{
    color:var(--gold);
    width:75%;
}

.dark-slide h4{
    color:var(--gold);
}

.skip-forward{
    position:absolute;
    top:10px;
    right:35px;
    opacity:0.3;
    cursor: pointer;
    transition:1s;
}

.skip-backward{
    position:absolute;
    bottom:10px;
    left:35px;
    opacity:0.3;
    cursor: pointer;
    transition:1s;
}

.skip-forward:hover, .skip-backward:hover {
    opacity:1;
    transform: scale(1.1);
}