#slide-0{
    text-align:center;
    justify-content: center;
    gap:0;
}

#slide-0 h1, #slide-0 h2{
    margin:0;
    width:100%;
    color:var(--blue);
}

.column-texts{
    display: flex;
    flex-direction: grid;
    grid-template-columns: 48% 48%;
    gap:4%;
}

#slide-6{
    justify-content: center;
}

#slide-6 .column-texts{
    grid-template-columns: 50% 50%;
    gap:0;
}

.right-box{
    font-weight: bold;
    color:var(--blue);
    border-left:1px solid var(--blue);
    border-top:1px solid var(--blue);
    padding:5%;
}

.left-box{
    border-bottom:1px solid var(--blue);
    padding:5%;
}

#slide-7{
    text-align:center;
    justify-content: center;
    gap:0;
    background: var(--blue);
    position:relative;
}

#slide-7 h2, #slide-7 h1{
    width:100%;
    margin:0;
    color:var(--gold);
}

.title-card{
    position:absolute;
    background:var(--gold);
    width:50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    bottom:10%;
    left:calc(50% - 25px);
    cursor: pointer;
    text-align: center;
    color:var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s ease-in-out;
}

.title-card:hover{
    background: var(--blue);
    color:var(--gold);
    box-shadow: 2px 2px 5px black;
    transform: scale(1.2);
}

#slide-8 h4{
    width:100%;
    text-align: center;
}

#slide-8{
    justify-content: center;
    gap:0;
}

@media only screen and (max-width:500px){
    .column-texts{
        display:block;
    }

    .slide h2, .dark-slide h2{
        width:100%;
    }

    .left-box, .right-box{
        border:none;
        padding:2%;
    }
}