:root{
    --blue:rgb(64,82,106);
    --lightgray:rgb(242,242,245);
    --gold:rgb(255,192,0);
    --gray:rgb(75,75,75);
}

@font-face {
    font-family: "Helvetica";
    src: url('Helvetica.woff');
}

*{
    box-sizing: border-box;
}

html{
    background:var(--lightgray);
    font-family: Helvetica, sans-serif;
}

.main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sub-container{
    display:flex;
    flex-direction: column;
    width:min(100%,800px);
}

.slides{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.slide, .dark-slide{
    background: white;
    color:var(--gray);
    border-radius:25px;
    min-height:450px;
    display:flex;
    flex-direction: column;
    justify-content: top;
    padding:5%;
    text-align: justify;
    line-height: 1.3;
}

.slide h2{
    width:75%;
    color:var(--blue);
}

.slide h4{
    color:var(--blue);
}

.author{
    position:relative;
    top:30%;
    text-align: right;
    color:var(--blue);
    opacity:0.5;
}

.dark-slide{
    background: var(--blue);
    color:white;
}

.dark-slide h2{
    color:var(--gold);
    width:75%;
}

.dark-slide h4{
    color:var(--gold);
}

