#slide-0{
    text-align:center;
    justify-content: center;
    gap:0;
}

#slide-0 h1, #slide-0 h2{
    margin:0;
    width:100%;
    color:var(--blue);
}

.column-texts{
    display: flex;
    flex-direction: grid;
    grid-template-columns: 48% 48%;
    gap:4%;
}

.column-texts div{
    width:50%;
}

#slide-6{
    justify-content: center;
}

#slide-6 .column-texts{
    grid-template-columns: 50% 50%;
    gap:0;
}

.exchange-rates{
    min-height: unset;
    display:grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    background: white;
    font-size:80%;
    padding:20px;
}

.exchange-rates p{
    margin:0;
    border:1px solid var(--blue);
    text-align: center;
}

.measurement-table{
    display: grid;
    grid-template-columns:auto auto auto auto auto auto auto auto ;
    font-size: 80%;
}

.accounting-table{
    overflow: auto;
    display: grid;
    grid-template-columns:auto 20% auto auto auto auto auto;
    font-size: 90%;
}

.hedge-table{
    display:grid;
    grid-template-columns: 40% 20% 20% 20%;
    font-size:100%;
}

.cell{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border:1px solid var(--blue);
    text-align: justify;
    padding:2px;
    padding-left: 5%;
    word-break: break-word;
}

.dark-slide .cell{
    border:1px solid white;
}

.cell p{
    margin:0;
    line-height: 1;
}

.right-box{
    font-weight: bold;
    color:var(--blue);
    border-left:1px solid var(--blue);
    border-top:1px solid var(--blue);
    padding:5%;
}

.left-box{
    border-bottom:1px solid var(--blue);
    padding:5%;
}

#slide-7{
    justify-content: center;
    padding:max(40px,10%);
}

.title-card{
    background: var(--blue);
    color:var(--gold);
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:15px;
    cursor: pointer;
    height:100%;
}

.lead{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:0;
    border:1px solid var(--gold);
    height:100%;
}

.lead h1, .lead h2{
    margin:0;
    color:var(--gold);
    width:100%;
}

.lead-arrow{
    animation: colorchange 1s infinite;
    transition: 2s;
}

@keyframes colorchange{
    0% {color:var(--gold);}
    50% {color:var(--blue)}
    100% {color:var(--gold);}
}

#slide-8{
    justify-content: center;
    gap:0;
    color:var(--gold);
    text-align: center;
}

@media only screen and (max-width:500px){
    .column-texts{
        display:block;
    }

    .column-texts div{
        width:100%;
    }

    .slide h2, .dark-slide h2{
        width:100%;
    }

    .left-box, .right-box{
        border:none;
        padding:2%;
    }

    .accounting-table, .measurement-table{
        font-size: 60%;
        overflow-x: auto;
    }
}