:root{
            --grey:rgb(75, 75, 75);
            --light-grey:rgb(240, 240, 240);
            --red:rgb(192,0,0);
            --red-grey:rgb(192, 0, 0, 0.5);
            --blue:rgb(85,129,156);
            --green:rgb(95,158,160);
        }
        @font-face {
        font-family: "Helvetica";
        src: url(Helvetica.woff) format("woff");
        font-weight: normal;
      }

      * {
        box-sizing: border-box;
      }

        html{
            font-family: Helvetica;
            padding:10px;
        }

        .box1{
            width:100%;
            color:var(--grey);
            background: var(--blue);
            border-radius: 15px;
            padding:10px;
        }

        .head1{
            color:white;  
            width:70%;
            text-align: left;
            border-bottom:1px solid white;
            padding: 10px;
        }

        .intro{
            width:100%;
            color:white;
            text-align: justify;
            padding-left:10px;
            padding-right:10px;
        }

        .content{
            display: grid;
            grid-template-columns: 49% 49%;
            gap: 2%;
            width:100%;
            padding-top:10px;
            padding-bottom: 10px;
        }

        .box3, .box2{
            border-radius: 15px;
            padding:10px;
        }

        .head2, .head3{
            color:var(--blue);
            padding: 10px;
            width:70%;
            text-align: left;
            border-bottom:1px solid var(--blue);
            margin:0;
        }

        h3{
            color:var(--blue);
        }

        .pvandfv, .annuityandperpetuity{
            padding: 10px;
            width:100%;
            text-align: justify;
        }

        math *{
            font-family: Helvetica;
            text-wrap: break-word;
        }

        p, label{
            font-size:16px;
            line-height: 1.35;
        }

        
        .calculator{
            display:grid;
            grid-template-columns: 47% 47%;
            gap:6%;
            border-radius: 15px;
        }

        .headers{
            display:flex;
            flex-direction: row;
            justify-content: space-around;
            padding-bottom: 10px;
        }

        .headers * {
            width:min(250px,40%);
            border:none;
            border-radius: 15px;
            padding:5px;
            font-size:16px;
            background: var(--light-grey);
            transition:0.5s;
            cursor: pointer;
        }

        .calculator input, .calculator label{
            padding: 5px;
            border:none;
            border-bottom: 1px solid var(--light-grey);
            font-size: 16px;
            transition: 0.5s;
        }

        .result{
            grid-column:1/ span 2;
            text-wrap: break-word;
        }

        @media only screen and (max-width: 750px) {
            .content{
                grid-template-columns: 100%;
                gap:2%;
            }

        }

        @media print {
            .content{
                grid-template-columns: 100%;
                gap:2%;
            }

            * {
                color: black !important;
                background: white !important;
            }

            .head1, .head2, .head3 {
                color: black !important;
                border-bottom: 1px solid black !important;
            }

            .calc {
                display: none !important;
            }

        }
