:root {
  --blue: rgb(64, 82, 106);
  --bluet: rgb(64, 82, 106, 0.7);
  --lightgray: rgb(242, 242, 245);
  --gold: rgb(255, 192, 0);
  --gray: rgb(75, 75, 75);
  --red: rgb(255, 128, 0);
  --whitet: rgb(255, 255, 255, 0.8);
}

@font-face {
  font-family: "Helvetica";
  src: url("Helvetica.woff");
}

* {
  box-sizing: border-box;
}

html {
  background-image: url("Fabric.png");
  background-size: 20%;
  font-family: Helvetica, sans-serif;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sub-container {
  display: flex;
  flex-direction: column;
  width: min(100%, 900px);
}

.slides {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 10%;
  padding-bottom: 10px;
}

.slide {
  background: var(--whitet);
  color: var(--blue);
  border-radius: 25px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  padding: 5%;
  text-align: justify;
  line-height: 1.5;
  position: relative;
  overflow: hidden;
  gap: 10px;
  border: 5px solid var(--bluet);
  box-shadow: 0px 1px 2px 0px var(--bluet);
}

.title {
  text-align: left;
  gap: 0;
  justify-content: center;
  padding: 10px 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 2px solid var(--bluet);
  width: min(100%, 450px);
  h1,
  h2,
  h3,
  h4 {
    margin: 0;
  }
}

.exemptcgTableContainer {
  overflow-x: auto;
}
.exemptcgTable {
  th,
  td {
    border: 1px solid var(--blue);
    padding: 5px;
    border-radius: 5px;
  }
  h4 {
    margin: 0;
    text-align: center;
  }
  p {
    margin: 0;
    width: 100%;
  }
}

.centerAlign {
  text-align: center;
  align-items: center;
}

.leftAlign {
  text-align: justify;
}

.end {
  min-height: unset;
  gap: 0;
  padding: 30px 10px;
  background: none;
  box-shadow: none;
  border: none;
  h4,
  h5 {
    margin: 0;
  }
}

a {
  color: inherit;
  transition: 0.5s;
}
a:hover {
  color: var(--gold);
}

ul {
  margin: 0;
}

li {
  margin: 2px;
}

math {
  font-size: 22px;
  font-family: inherit;
}

mrow {
  padding: 2px;
}
